
<h1 class= "yesspotted"> Yes! Spotted! </h1>
<%= link_to "submit item", new_item_path, :class => "buttonforyesspotted" %> 
<p id="notice"><%#= notice %></p>


<div class ="mapmove">
  <div style='width: 800px;'>
    <div id="map" style='width: 1150px; height: 500px;'></div>
  </div>
</div>

<div class= "movablecontent">
  <div id ="pins" class="transitions-enabled">
  <% @items.each do |item| %>
    <div class ="box">
      <%= image_tag item.image.url(:medium)%>
      <%= item.itemname %>
      <%= item.description %>
      <%=item.address %>
      <%# item.foundate %>
     <!--<%= link_to item.itemname, item %><br> --> 
      <p class="postedby"> By: <%= item.user.name%> </p>
            
      <%= link_to 'View Item', item %>
         
      <%if item.user == current_user %>
      <%= link_to 'Edit', edit_item_path(item) %>
      <%=link_to 'Delete', item, method: :delete, data: { confirm: 'Are you sure?' } %>
            <%end %>
      </div>
  <% end %>
  </div>
</div>

<script type="text/javascript">
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers(<%=raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
  });
</script>

